*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}
/*
*Gia de colores
* Principal: #222831
* Secundario: #393E46
* Titulos: #948979
* Textos y enlaces: #F5EFE7
*/
body{
    background-color: #222831 ;
}

p{
    color: #F5EFE7;
}

h1{text-align: center;
color: #948979;
margin-top: 2%;
}

h2{
    color: #948979;
}

.columnas{
    display: flex;
    padding: 25px;
    flex-wrap: wrap;
}

.lista{
    flex: 1;
    padding: 25px;
    margin: 20px;
    color: #F5EFE7;
    background-color: #393E46;
    width: fit-content;
}

a, label{
    color: #F5EFE7;
}

.formulario, .datos{
    border-radius: 10px;
    font-size: x-large;
    background-color: #393E46;
    width: 50%;
    padding: 10px;
    margin: auto;
    margin-top: 3%;
    text-align: center;
    box-shadow: 10px 10px 10px;
}

.boton{
    border: none;;
    border-radius: 5px;
    background-color: #948979;
    color: #F5EFE7;
    font-size: x-large;
    width: 10%;
    box-shadow: none;
}

.volver{
    border: none;;
    border-radius: 5px;
    background-color: #948979;
    color: #F5EFE7;
    font-size: x-large;
    width: 5%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.volverLargo{border: none;;
    border-radius: 5px;
    background-color: #948979;
    color: #F5EFE7;
    font-size: x-large;
    width: 12%;
    text-align: center;
    margin: auto;
    margin-top: 2%;}


input, select{
    border: none;
    border-radius: 5px;
    background-color: #F5EFE7;
    font-size: large;
    width: 80%;
    box-shadow: 10px 10px 10px;
}

.check{
    display: flex;
    width: fit-content;
}

